{template 'public/header'}
{template 'public/comhead'}
<link rel="stylesheet" type="text/css" href="../addons/zh_dianc/template/public/ygcss.css">
<style type="text/css">
    .multi-img-details .multi-item{
        height: auto;
    }
</style>
<ul class="nav nav-tabs">
    <span class="ygxian"></span>
    <div class="ygdangq">当前位置:</div>    
    <li class="active"><a href="javascript:void(0);">门店信息</a></li>
</ul>
<div class="main">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
        <!--<input type="hidden" name="parentid" value="{$parent['id']}" />-->
        <div class="panel panel-default ygdefault">
            <div class="panel-heading wyheader">
                系统信息&nbsp;&nbsp;>&nbsp;&nbsp;门店信息
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">风格颜色</label>
                    <div class="col-sm-9">
                        {php echo tpl_form_field_color('color', $info['color'])} 
                         <span class="help-block">*不填写会默认选中蓝色</span>
                    </div>
                </div>                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">店铺LOGO</label>
                    <div class="col-sm-9">
                        {php echo tpl_form_field_image('logo', $info['logo'])}

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商家名称</label>
                    <div class="col-sm-9">
                        <input type="text" name="name" class="form-control" value="{$info['name']}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商家电话</label>
                    <div class="col-sm-9">
                        <input type="text" name="tel" class="form-control" value="{$info['tel']}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商家地址</label>
                    <div class="col-sm-9">
                        <input type="text" name="address" class="form-control" value="{$info['address']}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">地址坐标</label>
                    <div class="col-sm-10">
                     {php echo tpl_form_field_coordinate('op',$info['coordinates'])}
                    </div>
                </div>
                                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label" style="margin-right: 15px;">幻灯片是否显示</label>
                    <select class="col-sm-8" name="is_display">
                        {if $info['is_display']==1}
                        <option value="1" selected="selected">是</option>
                        <option value="2">否</option>
                        {elseif $info['is_display']==2}
                        <option value="1">是</option>
                        <option value="2" selected="selected">否</option>
                        {else}
                        <option value="1">是</option>
                        <option value="2">否</option>
                        {/if}
                    </select>
                </div> 
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商家店铺幻灯片</label>
                    <div class="col-sm-9">
                       {php echo tpl_form_field_multi_image('img',$img2);}
                       <span class="help-block">*建议尺寸大小:2:1</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商家环境</label>
                    <div class="col-sm-9">
                       {php echo tpl_form_field_multi_image('environment',$environment);}
                       <span class="help-block">*建议尺寸大小:1:1</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">营业资质</label>
                    <div class="col-sm-9">
                        {php echo tpl_form_field_multi_image('yyzz', $yyzz)}
                        <span class="help-block">*建议尺寸大小:1:1</span>
                    </div>
                </div>                        
                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">公告</label>
                    <div class="col-sm-9">
                        <input type="text" name="announcement" class="form-control" value="{$info['announcement']}" />
                    </div>
                </div>
                
             <!--    <div class="form-group">
                 <label class="col-xs-12 col-sm-3 col-md-2 control-label">上午营业时间(开始时间)</label>
                 <div class="col-sm-10">
                     {php echo tpl_form_field_clock(time,$info['time'])}
                 </div>
             </div>
             <div class="form-group">
                 <label class="col-xs-12 col-sm-3 col-md-2 control-label">上午营业时间(结束时间)</label>
                 <div class="col-sm-10">
                     {php echo tpl_form_field_clock(time2,$info['time2'])}
                 </div>
             </div>
             <div class="form-group">
                 <label class="col-xs-12 col-sm-3 col-md-2 control-label">下午营业时间(开始时间)</label>
                 <div class="col-sm-10">
                     {php echo tpl_form_field_clock(time3,$info['time3'])}
                 </div>
             </div>
             <div class="form-group">
                 <label class="col-xs-12 col-sm-3 col-md-2 control-label">下午营业时间(结束时间)</label>
                 <div class="col-sm-10">
                     {php echo tpl_form_field_clock(time4,$info['time4'])}
                 </div>
             </div> -->
            <!--     <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label" style="margin-right: 15px;">是否休息</label>
                    <select class="col-sm-8" name="is_rest">
                        {if $info['is_rest']==1}
                        <option value="1" selected="selected">是</option>
                        <option value="2">否</option>
                        {elseif $info['is_rest']==2}
                        <option value="1">是</option>
                        <option value="2" selected="selected">否</option>
                        {else}
                        <option value="1">是</option>
                        <option value="2">否</option>
                        {/if}
                    </select>
                </div> -->
            <!--     <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">是否营业</label>
                <div class="col-sm-9">
                    <label class="radio-inline">
                        <input type="radio" name="is_rest" value="2" {if $info['is_rest']==2 || empty($info['is_rest'])}checked{/if} />营业
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="is_rest" value="1" {if $info['is_rest']==1}checked{/if} />休息
                    </label>
                </div>
            </div> -->
                <!-- <div class="form-group" style="width: 100%;">

                <label class="col-xs-12 col-sm-3 col-md-2 control-label">优惠条件设置</label>
                <label for="inputEmail3" class="col-sm-1 control-label">满</label>
                <div class="col-sm-2">

                    <input type="number" name="conditions" value="{$info['conditions']}" class="form-control" id="inputEmail3"
                           placeholder="请填写金额">

                </div>
                <label for="inputEmail3" class="col-sm-1 control-label">减</label>

                <div class="col-sm-2">

                    <input type="number" name="preferential" value="{$info['preferential']}" class="form-control" id="inputEmail3"
                           placeholder="请填写金额">

                </div>
                <label for="inputEmail3" class="col-sm-3" style="margin-top: 7px;color: #999;">(请设置满减优惠,例如满50减10)</label>
                </div> -->
            <div class="form-group">

                <label class="col-xs-12 col-sm-3 col-md-2 control-label">起送价</label>

                <div class="col-sm-10">

                    <input type="number" name="start_at" value="{$info['start_at']}" class="form-control" id="inputEmail3"
                           placeholder="请填写起送价格,单位元">

                </div>
            </div>
<!-- 
            <div class="form-group">

                <label class="col-xs-12 col-sm-3 col-md-2 control-label">配送费</label>

                <div class="col-sm-10">

                    <input type="number" name="freight" value="{$info['freight']}" class="form-control" id="inputEmail3"
                           placeholder="请填写配送费,单位元">

                </div>
            </div>

                        <div class="form-group">

                <label class="col-xs-12 col-sm-3 col-md-2 control-label">配送时间</label>

                <div class="col-sm-10">

                    <input type="text" name="sd_time" value="{$info['sd_time']}" class="form-control" id="inputEmail3"
                           placeholder="请填写配送时间">
                *例如 : 30分钟
                </div>
            </div>
             <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">配送方式</label>
                <div class="col-sm-10">
                    <select class="form-control" name="ps_mode">
                        {if $info['ps_mode']==1}
                        <option value="1" selected="selected">达达配送</option>
                        <option value="2">商家配送</option>
                        <option value="3">uu跑腿</option>
                        {elseif $info['ps_mode']==2}
                        <option value="1">达达配送</option>
                        <option value="2" selected="selected">商家配送</option>
                        <option value="3">uu跑腿</option>
                        {elseif $info['ps_mode']==3}
                        <option value="1">达达配送</option>
                        <option value="2" >商家配送</option>
                        <option value="3" selected="selected">uu跑腿</option>
                        {else}
                        <option value="1">达达配送</option>
                        <option value="2">商家配送</option>
                        <option value="3">uu跑腿</option>
                        {/if}
                    </select>
                </div>
            </div>
            <div class="form-group">
         
             <label class="col-xs-12 col-sm-3 col-md-2 control-label">配送距离设置</label>
         
             <div class="col-sm-10">
         
                 <input type="number" name="distance" value="{$info['distance']}" class="form-control" id="inputEmail3"
                        placeholder="请填写配送的最大距离,单位千米">
         单位为:公里(千米)
             </div>
             
         </div>  -->

        <!-- <div class="form-group">

                <label class="col-xs-12 col-sm-3 col-md-2 control-label">前台餐盒费文本名称</label>

                <div class="col-sm-10">

                    <input type="text" name="box_name" value="{$info['box_name']}" class="form-control" id="inputEmail3"
                           placeholder="请填写名称">

                </div>
            </div> -->
            <div class="form-group">

                <label class="col-xs-12 col-sm-3 col-md-2 control-label">是否开启新用户优惠</label>
                <div class="col-sm-10">
                    <select class="form-control" name="xyh_open">
                        {if $info['xyh_open']==1}
                        <option value="1" selected="selected">是</option>
                        <option value="2">否</option>
                        {elseif $info['xyh_open']==2}
                        <option value="1">是</option>
                        <option value="2" selected="selected">否</option>
                        {else}
                        <option value="1">是</option>
                        <option value="2">否</option>
                        {/if}
                    </select>
                </div>
            </div>
             <div class="form-group">

                <label class="col-xs-12 col-sm-3 col-md-2 control-label">新用户立减金额</label>

                <div class="col-sm-10">

                    <input type="number" name="xyh_money" value="{$info['xyh_money']}" class="form-control" id="inputEmail3"
                           placeholder="请填写立减金额,单位元">

                </div>
            </div>
                <!-- 
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">店铺音乐</label>
                    <div class="col-sm-10">
                    {php echo tpl_form_field_video('mp3')}
                    </div>
                </div> -->
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">分享海报背景图片</label>
                    <div class="col-sm-9">
                        {php echo tpl_form_field_image('hb_img', $info['hb_img'])}
                        <span class="help-block">*不填为默认图片 尺寸大小1080*1517</span>
                    </div>
                </div>
                {if $img!=''}
<div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">店铺小程序码</label>
    {if strlen($img)>200}
    {php echo "<img src='data:image/png;base64,".$img."'>"}
    {else} 
    <div class="col-sm-10">
 <input type="text" style="color:red" name="orderby" value="该二维码必须在小程序发布后才能生成" class="form-control" id="inputEmail3" readonly>
   </div>
 {/if}
  </div>
    {/if}

<!-- 
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">是否开启餐桌状态判断</label>
                    <div class="col-sm-9">
                        <label class="radio-inline">
                            <input type="radio" name="is_czztpd" value="1" {if $info['is_czztpd']==1 || empty($info['is_czztpd'])}checked{/if} />开启
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="is_czztpd" value="2" {if $info['is_czztpd']==2}checked{/if} />关闭
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">是否开启餐后支付</label>
                    <div class="col-sm-9">
                        <label class="radio-inline">
                            <input type="radio" name="is_chzf" value="1" {if $info['is_chzf']==1 || empty($info['is_chzf'])}checked{/if} />开启
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="is_chzf" value="2" {if $info['is_chzf']==2}checked{/if} />关闭
                        </label>
                    </div>
                </div> -->
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商家简介</label>
                    <div class="col-sm-10">
                    {php echo tpl_ueditor('details',$info['details']);}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" name="submit" value="提交" class="btn col-lg-3" style="color: white;background-color: #44ABF7;"/>
            <input type="hidden" name="token" value="{$_W['token']}" />
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function(){
        // $("#frame-0").addClass("in");
        $("#frame-0").show();
        $("#yframe-0").addClass("wyactive");
    })
</script>